

/*♥ configurações geraiS ♥*/

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #0d0b10;
    color: #ffffff;
    font-family:Georgia, serif;
}

a { 
    text-decoration: none;
    color: inherit;
}

section {
    padding: 100px 8%;
}


  /*♥ MENU ♥*/


header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    background-color: rgba(13, 11,16,0.9);

    backdrop-filter:  blur(10px);

    border-bottom: 1px solid #2c2633;
}                   

.menu {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;
}

.logo {
    font-size: 24px;
    font-weight: bold;

    color: #c084fc;
}

.menu ul { 
    display: flex;
    gap: 30px;

    list-style: none;
}

.menu a {
    color: #ddd;
    transition: 0.3s;
}

.menu a:hover {
    color: #c084fc;
}



 /*♥ INICIO ♥*/


.inicio {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;

    background: 
         radial-gradient(
            circle at 80% 50%,
            rgba(168, 85, 247, 0.18),
            transparent 35%
         );
}        

.inicio-texto {
    max-width: 650px;
}

.saudacao {
    color: #c084fc;
    font-size: 20px;
    margin-bottom: 10px;
}

.inicio h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

.incio h2 {
    color: #d8b4fe;
    font-size: 28px;
    margin-bottom: 25px;
}

.inicio-texto > p:not(.saudacao){
    color: #aaa;
    font-size: 18px;
    line-height: 1.7;
}

.botoes {
    display: flex;
    gap: 15px;
    margin-top: 35px;
};

 .botao { 
    padding: 14px 25px;

    border-radius: 8px;

    background-color: #a855f7;

    color: white;

    transition: 0.3s;
}

.botao:hover {
    transform: translateY(-4px);
    background-color: #c084fc;
}

.botao-secundario {
    background-color: transparent;
    border: 1px solid #a855f7;
}


/*♥ FOTO ♥*/


.inicio-foto {
    display: flex;
    justify-content: center;
}

.foto-container {
    width: 320px;
    height: 320px;

    border-radius: 50%;

    padding: 8px;
    background: linear-gradient(
      135deg,
      #c084fc,
      #581c87
);
    animation: flutuar 4s ease-in-out infinite;
}

.foto-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 50%;

    border: 5px solid #0d0b10;
}


/*♥ Animação da foto ♥*/


@keyframes flutuar {
    0%{
        transform: translateY(0)
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }

}


/*♥ TITULOS ♥*/


.titulo-secao {
    text-align: center;
    margin-bottom: 60px;
}

.titulo-secao p {
    color: #c084fc;
    letter-spacing: 3px;
    font-size: 13px;
}

.titulo-secao h2 {
    font-size: 42px;
    margin-top: 10px;
}


/*♥ Sobre ♥*/


.sobre{
    background-color: #141117;
}

.sobre-conteudo {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    align-items: center;
}

.sobre-texto p {
    color: #bbb;

    line-height: 1.8;

    font-size: 17px;

    margin-bottom: 20px;
}

.informacoes {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

.info-card {
    background-color: #1c1821;

    padding: 25px;

    border: 1px solid #302938;

    border-radius: 12px;

    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-8px);
    border-color: #a855f7;
}

.info-card span {
    font-size: 28px;
}

.info-card h3 {
    margin: 15px 0 8px;
}

.info-card p {
    color: #999;
    font-size: 14px;
}


/*♥ SKILLS ♥*/


.tecnologias {
    margin-top: 70px;
}

.tecnologias h3 {
    text-align: center;
    margin-bottom: 25px;
}

.skills {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;

    gap: 15px;

}

.skill {
    padding: 12px 25px;

    border: 1px solid #a855f7;

    border-radius: 30px;

    color: #d8b4fe;

    transition: 0.3s;
}

.skill:hover {
    background-color: #a855f7;

    color: white;

    transform: scale(1.05);

}


/* EXMPERIÊNCIA */


.timeline {
    max-width: 100px;

    margin: auto;
}

.experiencia-card {
    background-color: #141117;

    border-left: 3px solid #a855f7;

    padding: 30px;

    margin-bottom: 24px;

    border-radius: 0 10px 10px 0;

    transition: 0.3s;
}

.experiencia-card:hover {
    transform: translateX(8px);
}

.ano {
    color: #c084fc;

    font-weight: bold;
}

.experiencia-card h3 {
    margin: 10px 0;
}

.experiencia-card h4 {
    color: #999;

    margin-bottom: 15px;
}

.experiencia-card p {
    color: #aaa;

    line-height: 1.6;
}


/*♥ CERTIFICADOS ♥*/


.certificados {
    background-color: #141117;
}

.certificados-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.certificados-card {
    background-color: #1c1821;

    padding: 35px;

    border-radius: 15px;

    text-align: center;

    border: 1px solid #302938;

    transition: 0.3s;
}

.certificados-card:hover {
    transform: translate(-10px);

    border-color: #a855f7;
}

.certificado-icone {
    font-size: 45px;

    margin-bottom: 20px;
}

.certificados-card button {
    background-color: #a855f7;

    color: white;

    border: none;

    padding: 10px 20px;

    border-radius: 7px;

    cursor: pointer;

    transition: 0.3s;
}

.certificados-card button:hover {
    background-color: #c084fc;
}


/*♥ PROJETOS ♥*/


.projeto-container {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;
}

.projeto-card {
    background-color: #141117;

    border: 1px solid #302938;

    overflow: hidden;

    transition: 0.3s;
}

.projeto-card:hover {
    transform: translateY(-8px);

    border-color: #a855f7;
}

.projeto-imgagem {
    height: 100px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 70px;

    background-color: #1c1821;
}

.projeto-conteudo {
    padding: 25px;
}

.projeto-conteudo p {
    color: #999;

    margin: 15px 0;
}

.tecnologia-projeto {
    display: flex;

    gap: 8px;

    margin-bottom: 20px;
}

.tecnologia-projeto span {
    background-color: #2b2133;

    color: #d8b4fe;

    padding: 5px 10px;

    border-radius: 5px;

    font-size: 12px;
}

.projeto-conteudo a {
    color: #c084fc;
}


/*♥ CONTATO ♥*/

.contato {
    background-color: #141117;
}

.contato-container {
    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;
}

.contato-card {
    width: 180px;

    padding: 30px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 10px;

    background-color: #1c1821;

    border: 1px solid #302938;

    border-radius: 12px;

    transition: 0.3s;
}

.contato-card:hover {
    transform: translateY(-8px);

    border-color: #a855f7;

    color: #c084fc;
}


/*♥ RODOPÉ ♥*/

footer {
    text-align: center;

    padding: 30px;

    color: #777;

    background-color: #09070b;
}


/*♥ BOTÃO TOPO ♥*/







